<!DOCTYPE html>
<html>
  <head>
     <title>CARVAULT</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <nav class="nav-row">
      <div class="nav-inner">
        <a class="logo" href="/"><h1>CAR<span class="brand-blue">VAULT</span></h1></a>
        <div class="controls">
          <a href="/comparisons" class="btn btn-primary">Show comparisons</a>
        </div>
      </div>
    </nav>

    <div class="main-content">
      {{ template "content" . }}
    </div>

   
  </body>
</html>